.vscode/
OrderFlowStudio.Api/obj/
OrderFlowStudio.Data/obj/
OrderFlowStudio.Services/obj/
OrderFlowStudio.Services/bin/
.vs/
OrderFlowStudio.Api/bin/
OrderFlowStudio.Data/Migrations/
OrderFlowStudio.Data/bin/
obj/

OrderFlowStudio.Services/bin/Debug/
